# imports

In [1]:
import pandas as pd
import numpy as np

In [5]:
df  = pd.read_csv('kc_house_data.csv')

In [6]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [9]:
# crreate dormitory

df['dormitory_type'] = ""

for i in range(len(df)):
    if df.loc[i, 'bedrooms'] == 1:
        df.loc[i, 'dormitory_type'] == 'studio'
    elif df.loc[i, 'bedrooms'] == 1:
        df.loc[i, 'dormitory_type'] == 'apartment'
    else:
     df.loc[i, 'dormitory_type'] == 'house'

In [12]:
# definir niveis de precos

for i in range( len(df) ):
    if df.loc[i, 'price'] <= 321950:
        df.loc[i, 'level'] = 0
    elif (df.loc[i, 'price'] > 321950) & (df.loc[i, 'price'] <= 450000) :
        df.loc[i, 'level'] = 1
    elif (df.loc[i, 'price'] > 450000) & (df.loc[i, 'price'] <= 645000) :
        df.loc[i, 'level'] = 2
    else:
        df.loc[i, 'level'] = 3

In [13]:
df.head(
    
)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,dormitory_type,level
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,,0.0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,,2.0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,,0.0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,,2.0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,,2.0

In [37]:
from geopy.geocoders import Nominatim



# pequena amostra pra percorrer com API
df = df.head(20)
# Initialize API
# Segunod ciclo com google V3 
geolocator = Nominatim( user_agent= 'geopihouse') #user_agent= 'geopihouse' nome do projecto

In [38]:
response = geolocator.reverse('47.5112, -122.257')
print(response.address)

10012, 61st Avenue South, Rainier Beach, Seattle, King County, Washington, 98178, United States

In [30]:
response.raw # retorna um json com varias listas por acessar

{'place_id': 147183522,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 236673600,
 'lat': '47.5112302',
 'lon': '-122.25676111324441',
 'display_name': '10012, 61st Avenue South, Rainier Beach, Seattle, King County, Washington, 98178, United States',
 'address': {'house_number': '10012',
  'road': '61st Avenue South',
  'neighbourhood': 'Rainier Beach',
  'city': 'Seattle',
  'county': 'King County',
  'state': 'Washington',
  'postcode': '98178',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['47.511189', '47.5112943', '-122.2568571', '-122.2566651']}

In [34]:
#response.raw['address']

In [39]:
df.loc[:, 'road'] = ""
df.loc[:, 'house_number'] = ""

for i in range( len(df) ):
    print('loop number{}/{}'.format( i,  len(df)))


    query = str(df.loc[i, 'lat']) + ',' +  str(df.loc[i, 'long'])

    response = geolocator.reverse( query)


    if 'house_number' in response.raw['address']:
        df.loc[i, 'house_number'] = response.raw['address']['house_number']

    if 'road' in response.raw['address']:
        df.loc[i, 'road'] = response.raw['address']['road']

loop number0/20
loop number1/20
loop number2/20
loop number3/20
loop number4/20
loop number5/20
loop number6/20
loop number7/20
loop number8/20
loop number9/20
loop number10/20
loop number11/20
loop number12/20
loop number13/20
loop number14/20
loop number15/20
loop number16/20
loop number17/20
loop number18/20
loop number19/20

In [45]:
import plotly.express as px

In [55]:
# map

houses = df[['id', 'lat', 'long', 'price', 'level']].copy()

fig = px.scatter_mapbox (houses,
                   lat = 'lat',
                   lon = 'long',
                   color = 'level',
                   size = 'price',
                   color_continuous_scale = px.colors.cyclical.IceFire,
                   size_max = 15,
                   zoom = 10)


#mapbox_style="dark", mapbox_accesstoken=token

fig.update_layout( mapbox_style = 'opne-street-map')
fig.update_layout(height = 600,  margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [54]:
pip install nbformat

Collecting nbformat
  Downloading nbformat-5.1.2-py3-none-any.whl (113 kB)
     |████████████████████████████████| 113 kB 88 kB/s
Requirement already satisfied: jupyter-core in /Users/francisco/opt/anaconda3/envs/brenv/lib/python3.8/site-packages (from nbformat) (4.7.1)
Requirement already satisfied: traitlets>=4.1 in /Users/francisco/opt/anaconda3/envs/brenv/lib/python3.8/site-packages (from nbformat) (5.0.5)
Collecting jsonschema!=2.5.0,>=2.4
  Downloading jsonschema-3.2.0-py2.py3-none-any.whl (56 kB)
     |████████████████████████████████| 56 kB 183 kB/s
Requirement already satisfied: ipython-genutils in /Users/francisco/opt/anaconda3/envs/brenv/lib/python3.8/site-packages (from nbformat) (0.2.0)
Requirement already satisfied: six>=1.11.0 in /Users/francisco/opt/anaconda3/envs/brenv/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat) (1.15.0)
Collecting attrs>=17.4.0
  Downloading attrs-20.3.0-py2.py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 210 kB/s
Requirement already satisfied: setuptools in /Users/francisco/opt/anaconda3/envs/brenv/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat) (50.3.1.post20201107)
Collecting pyrsistent>=0.14.0
  Downloading pyrsistent-0.17.3.tar.gz (106 kB)
     |████████████████████████████████| 106 kB 191 kB/s
Building wheels for collected packages: pyrsistent
  Building wheel for pyrsistent (setup.py) ... done
  Created wheel for pyrsistent: filename=pyrsistent-0.17.3-cp38-cp38-macosx_10_9_x86_64.whl size=68501 sha256=13afdf00677289254d72b5ef85b75004589e8971ffee46b623cae81350ba746b
  Stored in directory: /Users/francisco/Library/Caches/pip/wheels/3d/22/08/7042eb6309c650c7b53615d5df5cc61f1ea9680e7edd3a08d2
Successfully built pyrsistent
Installing collected packages: attrs, pyrsistent, jsonschema, nbformat
Successfully installed attrs-20.3.0 jsonschema-3.2.0 nbformat-5.1.2 pyrsistent-0.17.3
Note: you may need to restart the kernel to use updated packages.